USE [master]
GO
/****** Object:  Database [PD01164]    Script Date: 03/10/2016 08:04:53 ******/
CREATE DATABASE [PD01164] ON  PRIMARY 
( NAME = N'PD01164', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL10_50.MSSQLSERVER\MSSQL\DATA\PD01164.mdf' , SIZE = 2048KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'PD01164_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL10_50.MSSQLSERVER\MSSQL\DATA\PD01164_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [PD01164].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [PD01164]
GO
/****** Object:  Table [dbo].[TPhongban]    Script Date: 03/10/2016 08:04:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TPhongban](
	[MaPhong] [char](7) NOT NULL,
	[TenPhong] [varchar](30) NOT NULL,
 CONSTRAINT [TPhongban_pk] PRIMARY KEY CLUSTERED 
(
	[MaPhong] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[TNhanvien]    Script Date: 03/10/2016 08:04:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TNhanvien](
	[MaNV] [char](7) NOT NULL,
	[TenNV] [varchar](30) NOT NULL,
	[NgaySinh] [date] NOT NULL,
	[GioiTinh] [varchar](10) NOT NULL,
	[Email] [varchar](50) NOT NULL,
	[MucLuong] [varchar](10) NOT NULL,
	[MaPhong] [char](7) NOT NULL,
	[TPhongban_MaPhong] [char](7) NOT NULL,
 CONSTRAINT [TNhanvien_pk] PRIMARY KEY CLUSTERED 
(
	[MaNV] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  ForeignKey [TNhanvien_TPhongban]    Script Date: 03/10/2016 08:04:54 ******/
ALTER TABLE [dbo].[TNhanvien]  WITH CHECK ADD  CONSTRAINT [TNhanvien_TPhongban] FOREIGN KEY([TPhongban_MaPhong])
REFERENCES [dbo].[TPhongban] ([MaPhong])
GO
ALTER TABLE [dbo].[TNhanvien] CHECK CONSTRAINT [TNhanvien_TPhongban]
GO
